.flex-container{
    display: flex;
    height: 1000px;
    background-color: grey;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    align-content: space-between;
    justify-content: center;
}
.flex-item{
    width: 50px;
    height: 200px;
    border-radius: 25%;
    width: 20%;
}
.verde{
    background-color: green;
}
.amarelo{
    background-color: yellow;
}
.vermelho{
    background-color: red;
}